/.idea/
/wlog.xcodeproj/project.xcworkspace/xcshareddata/
/wlog.xcodeproj/xcuserdata/
/wlog.xcodeproj/project.xcworkspace/xcuserdata/
/Example/.idea/
/Example/wlogExample.xcodeproj/xcuserdata/
/Example/wlogExample.xcodeproj/xcshareddata/
/Example/wlogExample.xcodeproj/project.xcworkspace/xcuserdata/
/Example/wlogExample.xcodeproj/project.xcworkspace/xcshareddata/
